:root {
  --gradient-start: #ff7e5faa;
  --gradient-end: #feb47baa;
}

.titleSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  background-image:
    linear-gradient(to top right, var(--gradient-start), var(--gradient-end)),
    url('bg/plants-1.webp');
}

.dashboard {
  padding-top: 2rem;
  --grid-max-col-count: 3;
  --grid-min-col-size: 180px;
  --grid-gap: 10px;

  /*calculations*/
  --grid-col-size-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col-count)) / var(--grid-max-col-count)
  );

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-max-col-count), 1fr);
}

@media screen and (max-width: 768px) {
  .dashboard {
    --grid-max-col-count: 2;
  }
  .titleSearch {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .dashboard {
    --grid-max-col-count: 1;
  }
}
