:root {
  --bg-color: #445522;
  --width: 80%;
  --border-radius: 20px;
  --color: #ffffff;
}

.button {
  background: var(--bg-color);
  color: var(--color);
  padding: 20px 40px;
  border-radius: var(--border-radius);
  width: var(--width);
}

.button:hover {
  background: var(--color);
  color: var(--bg-color);
  outline: 1px solid var(--bg-color);
}
