.toast_container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;
}

@media (max-width: 600px) {
  .toast_container {
    left: 1rem;
    right: 1rem;
    bottom: 0.5rem;
  }
}
