.profile_menu {
  /* background-color: darkorange; */
  background-color: #c9db75;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 4;
}

.menu_option {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

.menu_option:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
