.header {
  padding: 1rem 0.5rem;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 600;
}

.distribution {
  color: #000;
  background-color: rgba(256, 256, 256, 0.6);
  padding: 1rem;
}

.section {
  display: grid;
  grid-template-columns: 2fr 7fr;
  border-top: 1px solid #2d2d2d;
  padding: 0.5rem;
  padding-left: 0;
  position: relative;
}

.title {
  text-align: left;
  font-weight: bold;
  padding: 0.25rem;
}

.card_user {
  display: grid;
}

.card_bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'a b'
    'c d'
    'e e';
}

.card_password {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 0.5rem;
}

.form_input {
  padding: 0.5rem;
  text-align: start;
}

.form_textarea {
  grid-area: e;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: start;
}

.form_textarea textarea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.form_select {
  text-align: start;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
}

.form_select select {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.field {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.625rem;
  border-radius: 0.25rem;
  width: 100%;
}

.option {
  border: 1px solid red;
}

.button {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
}

.cancel {
  color: #8f8d8d;
  border: 1px solid #8f8d8d;
}

.update {
  background-color: #59981a;
  color: #f1f1f1;
}

.edit_icon {
  position: absolute;
  padding: 0.5rem;
  top: 20px;
  right: 0px;
  background-color: rgba(16, 20, 6, 0.5);
  border-radius: 50%;
  color: #f1efef;
  cursor: pointer;
  font-size: 1rem;
}
