:root {
  --bg_color: #2d2d2d;
  --border-radius: 0px;
  --width: 100px;
  --height: 100px;
}

.card {
  background-color: var(--bg_color);
  border-radius: var(--border-radius);
  width: var(--width);
  height: var(--height);
}
