.carousel {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.75rem;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.carousel_track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel_btn {
  padding: 0.5rem;
  background-color: var(--primary-bright-color);
  height: 5%;
  border-radius: 0.5rem;
  z-index: 999;
  cursor: pointer;
  font-weight: 500;
}

.carousel_btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--primary-white-color);
  transform: scale(1.01);
  transition: transform 0.3 ease-in-out;
}

@keyframes popUp {
  0% {
    transform: scale(1);
    background-color: var(--primary-bright-color);
  }

  50% {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-white-color);
  }

  100% {
    transform: scale(1);
    background-color: var(--primary-bright-color);
    color: var(--primary-dark-color);
  }
}
