.carouselItem {
  flex: 0 0 calc(100% / 3);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  cursor: pointer;
}

.carouselItem:hover {
  transform: scale(1.1);
}

.inactive {
  opacity: 0.4;
  transform: scale(0.9);
}

.inactive:hover {
  transform: scale(0.9);
  cursor: default;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.selected {
  transform: scale(1.1);
}
